body{
    background-image: url(SACH/2964938.jpg);
    background-size: cover;
}
.wrapper{
    margin: 100px;
    width: 350px;
    background-color: white;
    border-radius: 6px;
    margin-left: 600px;
}
.logo img{
    padding: 5px 5px;
    width: 300px; 
}
.header{
    text-align: center;
}
.header h2{
    color: blue;
    text-transform: uppercase;
}
.content{
    padding-left: 30px;
   padding-bottom: 25px;
}
.content input{
    border-radius: 6px;
    height:30px; 
    width:267px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(177, 177, 177);
}
.login{
    padding-bottom: 10px;
}
#nameError{
    color: red;
    font-weight: bold;
    margin: 10px 0px;
}
#PasswordError{
    margin: 10px 0px;
    color: red;
    font-weight: bold;
}
.btn-sub{
    border: 1px solid rgb(177, 177, 177);
}
.btn-sub:hover{
    opacity: 0.8;
}
.content2{
border: 1px solid transparent;
background-color: #0095f6;
color: white;
border-radius: 4px;
padding: 10px 10px;
margin-left: 25px;
width:280px;
font-size: 14px;
font-weight: 600;
margin-bottom: 10px;
cursor: pointer;
}
.content1{
    margin: 10px 30px 18px;
    display: flex;
}
.content1a{
    background-color: #dbdbdb;
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.45em;
}
.content1b{
    color: #8e8e8e;
    font-size: 13px; 
    font-weight: 600;
    line-height: 15px;
    margin: 0 5px;
    text-transform: uppercase;
    position: relative;
}
.content3{
    margin-left: 30px;
    margin-bottom: 10px;
}
.content3 a{
    text-decoration: none;
    font-weight: bold;
    color: #200dc5;
}